.movie {
  min-width: 10rem;
  max-width: 10rem;

  &__box {
    margin-bottom: 1rem;

    &-img {
      width: 10rem;
      border-radius: 0.5rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &-header {
      font-weight: 700;
    }

    &-date {
      color: gray;
    }
  }
}
