.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  margin: auto;

  @media only screen and (min-width: 1080px) {
    flex-direction: row;
  }

  &__img {
    border-radius: 0.5rem;
    box-shadow: 5px 5px rgba(175, 175, 175, 1);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-box {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &-header {
        font-size: 3.5rem;
        font-weight: 700;
      }
    }

    &-link {
      background-color: #fff;
      padding: 0.5rem 1.25rem;
      align-self: flex-start;
      border-radius: 5rem;
    }
  }
}
