@tailwind base;
@tailwind components;
@tailwind utilities;

/* resets the browsers default dimensions */
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
    width: 100vw;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  

h1,
h2,
h3,
p,
span {
  color: #fff;
}

html {
  background-color: #0d0c0f;
  overflow-x: hidden;
}

@font-face {
  font-family: "Colfax";
  font-weight: 400;
  src: url("./assets/fonts/Colfax-Regular.woff2");
}

@font-face {
  font-family: "Colfax";
  font-weight: 700;
  src: url("./assets/fonts/Colfax-Bold.woff2");
}

* {
  font-family: "Colfax";
}
